body {
    margin: 0;
    background-color: #FFFCF5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header {
    display: flex;
    background-color: #9AB5AE;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: #FFFCF5;
}

#title {
    color: #2e2e2b;
}

.input{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ebe8e2; 
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: #2e2e2b;
}

#t{
    display: flex;
}

#s{
    display: flex;
}

#typ {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    gap: 15px;
}

#loginBtn {
    background-color: #9AB5AE;
    border: none;
    border-radius: 4px;
    width: 100px;
    padding: 12px 15px;
    font-size: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#loginBtn:hover {
    background-color: #679286;
}

#container{
    display: flex;  
    align-items: center;   
    justify-content: space-between; 
    flex-wrap: wrap; 
    padding: 20px;   
}

#avatarContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    position: relative;
}

#avatar {
    width: 150px;
    height: 150px;
    background-image: url('avatar/avatar_open.png');
    background-size: cover;
    cursor: pointer;
    transition: background-image 0.3 ease;
}

#avatar:hover {
    background-image: url('avatar/avatar_closed.png');
}

#speechBubble {
    position: absolute;
    top: 120px;
    left: -50px;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px;
    border: 1px solid #584747;
    border-radius: 10px;
    display: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

.hidden {
    display: none;
}

#avatar.clicked {
    background-image: url('avatar/avatar_wink.png');
}

#tableContainer {
    width: 80%;                
    max-width: 1000px;         
    margin: 20px auto;         
    padding: 20px;             
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #757070;
}

th {
    background-color: #cfae928e;
}

button {
    padding: 8px 16px;
    background-color: #9AB5AE;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #679286;
}


